openapi: 3.0.1
info:
  title: Onomondo Connectors Tags API
  description: HTTP RESTful API for the Onomondo IoT cellular-connectivity platform. Resource-oriented URLs with standard HTTP verbs, JSON request/response bodies, and Bearer API-key authentication. Served exclusively over TLS (HTTPS). Use it to manage SIMs, usage, network lists, SMS, webhooks, connectors, and tags across a global IoT fleet.
  termsOfService: https://onomondo.com/legal/
  contact:
    name: Onomondo Support
    url: https://onomondo.com/contact/
  version: '1.0'
servers:
- url: https://api.onomondo.com
  description: Onomondo production API
security:
- apiKey: []
tags:
- name: Tags
  description: Search organization tags used to group SIMs.
paths:
  /tags/search/tags:
    get:
      operationId: searchTags
      tags:
      - Tags
      summary: Search Tags
      description: Returns Tags for the organization. Tags are created and updated in the web app, not via the API.
      responses:
        '200':
          description: A list of Tag objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
components:
  schemas:
    Tag:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Organization-scoped API key supplied in the Authorization header. Generated in the Onomondo platform and coupled to the organization under which it is created.
